h2 {
	color:darkblue;
}

.boxmodel {
	border: 5px solid brown;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;
	width: 33px;
	height:55px;
}

p {
	font-size: 20px;
}

span {
	font-size: 2rem ;
}